app = 'akmind'
primary_region = 'bom'

[build]

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1

# Remove the [[mounts]] section completely

[env]
  GF_DATABASE_TYPE = "postgres"
  GF_DATABASE_SSL_MODE = "require"
